---
import Layout from "../layouts/Layout.astro";
import PageShell from "@/components/PageShell.astro";
import HomeHero from "@/components/sections/home/HomeHero.astro";
import HomeStats from "@/components/sections/home/HomeStats.astro";
---

<Layout title="Home">
  <PageShell path="sys://hovirix.dev" meta="2026">
    <section class="relative min-h-[calc(100svh-3rem)] flex flex-col overflow-hidden">
      <HomeHero />
      <HomeStats />

    </section>
  </PageShell>
</Layout>
